html{
      font-family:'Roboto', sans-serif;
      background-color: hsl(2, 88%, 7%);
}
body{
      display: grid;
      place-content: center;
      min-height: 100vh;
}
img{
      height: 450px;
      width: 350px;
      object-fit: cover;
      border-radius: 35px;
      /* text-align: center; */
}
h1{
      color: whitesmoke;
      font-size: 32px;
      font-weight: 800;
      letter-spacing: 2px;
      text-align: center;
      height: 10px;
}
h4{
      color: hsl(0, 46%, 45%);
      font-size: 11px;
      letter-spacing: 1px;
      font-weight: lighter;
      text-align: center;
      height: 5px;
}
span{
      color: whitesmoke;
}
div{
      color: hsl(5, 100%, 91%);
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      line-height: 6px;
}